<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Automation/IntellijWorkspace/AzureDevops/TestingCICD3">
        <classes><class name="websiteTest_myshuttle_javaproject">
<!--            <methods>-->
<!--                <include name="googleTitleTest" />-->
<!--            </methods>-->
        </class></classes>
    </test>
</suite>